.object {
  margin-top: 30px;
  display: flex;
  box-shadow: 4px 7px 35px rgba(198, 211, 214, 0.3);
  background-color: #ffffff;
}

.object__photo {
  width: 800px;
  position: relative;
  border-right: 1px solid #e5e5e5;
}

.object__photo-wrapper {
  width: 100%;
  height: 100%;
  padding: 80px 0 120px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.object__photo-wrapper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.object__desc {
  width: 370px;
  padding: 40px 30px;
}

.object__desc-sector {
  margin-bottom: 15px;
  color: #1c90e9;
}

.object__desc-name {
  padding-bottom: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #e5e5e5;
}

.object__desc-title {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  color: #333333;
}

.object__desc-art {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #959595;
}

.object__desc-details {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.details {
  display: flex;
  flex-direction: column;
}

.details__row {
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.details__name {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #959595;
}

.details__value {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #333333;
}

.details__value--price {
  font-size: 24px;
  font-weight: 600;
  color: #dc0909;
}

.params {
  display: flex;
  justify-content: space-between;
}

.params__item {
  text-align: center;
}

.params__definition {
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  color: #959595;
}

.params__value {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  color: #333333;
}

.button-favourite {
  width: auto;
  height: 46px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #e5e5e5;
  border-radius: 23px;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #959595;
  text-align: center;
  transition: all 0.2s ease-in;
}

.button-favourite-icon {
  margin-right: 10px;
  width: 24px;
  color: #ececec;
  transition: all 0.2s ease-in;
}

.button-favourite:hover {
  border-color: #e51414;
  color: #e51414;
  opacity: 0.8;
  cursor: pointer;
}

.button-favourite:focus {
  outline: none;
}

.button-favourite:hover .button-favourite-icon {
  color: #e51414;
}

.button-favourite--active {
  border-color: #ff9898;
  background-color: #dc0909;
  color: #ffffff;
}

.button-favourite--active .button-favourite-icon {
  color: #ffffff;
}

.button-favourite--active:hover {
  color: #ffffff;
  opacity: 0.8;
  cursor: pointer;
}

.button-favourite--active:hover .button-favourite-icon {
  color: #ffffff;
}

.button-order {
  height: 68px;
  width: 100%;
  margin-bottom: 10px;
  padding: 0;
  display: block;
  border: none;
  border-radius: 32px;
  background-color: #e51414;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s ease-in;
}

.button-order:hover {
  background-color: #ff4b4b;
  opacity: 0.8;
  cursor: pointer;
}

.button-order:active,
.button-order:focus {
  background-color: #971111;
  outline: none;
  opacity: 1;
  cursor: pointer;
}
