@import "../../../scss/variables";

.preloader-holder {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.sk-folding-cube {
  position: relative;
  width: 4em;
  height: 4em;
  margin: auto;
  transform: rotateZ(45deg);

  .sk-cube {
    position: relative;
    float: left;
    width: 50%;
    height: 50%;
    transform: scale(1.1);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $red-main-light;
      animation: sk-folding-cube-angle 2.4s infinite linear both;
      transform-origin: 100% 100%;
    }

    &-2 {
      transform: scale(1.1) rotateZ(90deg);

      &::before {
        animation-delay: 0.3s;
      }
    }

    &-3 {
      transform: scale(1.1) rotateZ(180deg);
      &::before {
        animation-delay: 0.6s;
      }
    }

    &-4 {
      transform: scale(1.1) rotateZ(270deg);
      &::before {
        animation-delay: 0.9s;
      }
    }
  }
}

@keyframes sk-folding-cube-angle {
  0%,
  10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
