.logo-wrapper {
  display: block;
  padding: 20px 0;
  text-align: center;
}

.logo {
  display: inline-block;
  margin: 0 auto;
  padding: 20px 45px 16px;
  background-color: #ffffff;
  font-family: 'Oswald', sans-serif;
  transform: skewX(-10deg);
}

.logo:hover {
  text-decoration: none;
}

.logo__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 40px;
  color: #333333;
}

.logo__subtitle {
  font-size: 26px;
  font-weight: 700;
  line-height: 40px;
  color: #dc0909;
  letter-spacing: 2.86px;
}
