.logo-wrapper {
  padding: 20px 0;
  text-align: center;
  display: block;
}

.logo {
  display: inline-block;
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
  transform: skewX(-10deg);
  background-color: #fff;
  padding: 20px 45px 16px;
}

.logo:hover {
  text-decoration: none;
}

.logo__title {
  color: #333333;
  font-size: 48px;
  font-weight: 700;
  line-height: 40px;
}

.logo__subtitle {
  color: #dc0909;
  font-size: 26px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2.86px;
}
