.panels-sorter {
  margin-top: 30px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  color: #959595;
}

.panels-sorter__element {
  flex-shrink: 0;
  padding: 10px 0;
  text-align: center;
}

.panels-sorter__element:last-child {
  margin-right: 0;
}

.panels-sorter__title {
  display: inline-block;
  position: relative;
  padding-right: 20px;
  font-size: 12px;
  line-height: 1;
  user-select: none;
}

.panels-sorter__title.sorter--active {
  color: #dc0909;
}

.panels-sorter__title.sorter-down::after {
  content: "\25BC";
}

.panels-sorter__title.sorter-up::after {
  content: "\25B2";
}

.panels-sorter__title.sorter-down::after,
.panels-sorter__title.sorter-up::after {
  display: block;
  width: 15px;
  height: 10px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  opacity: 0.45;
}

.panels-sorter__title.sorter--active.sorter-down::after,
.panels-sorter__title.sorter--active.sorter-up::after {
  opacity: 1;
}

.panels-sorter__title:hover {
  color: #dc0909;
  opacity: 0.8;
  cursor: pointer;
}

.panels-sorter__title.no-sorter {
  padding: 0;
}

.panels-sorter__title.no-sorter::after {
  display: none;
}

.panels-sorter__title.no-sorter:hover {
  color: #959595;
  opacity: 1;
  cursor: default;
}

.panels-sorter__item-num {
  width: 120px;
}

.panels-sorter__name {
  width: 160px;
}

.panels-sorter__block {
  width: 70px;
}

.panels-sorter__floor {
  width: 70px;
}

.panels-sorter__rooms {
  width: 70px;
}

.panels-sorter__sq {
  width: 80px;
}

.panels-sorter__price-per-m {
  width: 100px;
}

.panels-sorter__price {
  width: 100px;
}

.panels-sorter__favourite {
  width: 100px;
}
