.bids-modal-header {
  padding: 15px 20px 15px;
}

.bids-modal-header__title {
  margin-bottom: 5px;
  font-size: 28px;
  font-weight: 700;
}

.bids-modal-header__details {
  font-size: 22px;
}

.bids-modal-header__details-art {
  font-size: 14px;
  font-weight: 500;
  color: #959595;
}

.bids-modal-form {
  padding: 15px 20px 100px 20px;
  position: relative;
}

.bids-modal-form__input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #a7a7a7;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
}

.bids-modal-form__policy {
  position: relative;
}

.bids-modal-form__policy-label {
  font-size: 12px;
  cursor: pointer;
}

.bids-modal-form__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 65px;

  position: absolute;
  left: 0;
  bottom: 0;

  border: none;

  background-color: #dc0909;

  font-size: 22px;
  font-weight: 700;
  color: #fff;
  text-align: center;

  cursor: pointer;
  transition: 0.1s background-color ease-in;
}

.bids-modal-form__submit:hover {
  background-color: #f05858;
}

.bids-modal-form__submit:active {
  background-color: #a02424;
}

.bids-modal-form__submit:disabled {
  background-color: #eb9696;
  cursor: not-allowed;
}

.bids-modal-form__submit:disabled:hover {
  background-color: #eb9696;
}
