.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(70, 131, 180, 0.5);
}

.modal-window {
  display: block;
  width: 600px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.modal-close {
  display: block;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: #3b3b3b;
  font-size: 18px;
  color: #fff;
  transition: 0.1s background-color ease-in;
}

.modal-close:hover {
  background-color: #181818;
}

.modal-close:active {
  background-color: #000000;
}
