.top-panel {
  height: 58px;
  padding: 0 15px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
}

.top-panel__container {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-panel__link {
  background-color: transparent;
  border: none;
  color: #ffffff;
  transition: color 0.3s;
}

.top-panel__link i {
  margin-right: 10px;
}

.top-panel__link:hover {
  color: #dfd6b1;
  text-decoration: none;
}

.top-panel__link.link--active {
  color: #ffdd56;
}
