.header {
  height: 58px;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;

  background-color: rgba(0, 0, 0, 0.7);

  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
}

.header__container {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  display: inline-flex;
  align-items: center;
  border: none;
  background-color: transparent;
  color: #ffffff;
  transition: color 0.3s;
}

.header__link-icon {
  margin-right: 10px;
  height: 18px;
}

.header__link:hover {
  color: #dfd6b1;
  text-decoration: none;
}

.header__link.link--active {
  color: #ffdd56;
}
