.panel,
a.panel {
  height: 73px;
  margin-bottom: 10px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 4px 7px 35px rgba(198, 211, 214, 0.3);
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #333333;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.panel:hover,
a.panel:hover {
  box-shadow: 4px 7px 35px #c6d3d6;
  text-decoration: none;
  transform: translateY(-3px);
  cursor: pointer;
}

.panel.panel--no-hover:hover,
a.panel.panel--no-hover:hover {
  box-shadow: 4px 7px 35px rgba(198, 211, 214, 0.3);
  transform: none;
  cursor: default;
}

.panel__item-num {
  width: 120px;
}

.panel__name {
  width: 160px;
}

.panel__block {
  width: 70px;
}

.panel__floor {
  width: 70px;
}

.panel__rooms {
  width: 70px;
}

.panel__sq {
  width: 80px;
}

.panel__price-per-m {
  width: 100px;
}

.panel__price {
  color: #dc0909;
  width: 100px;
}

.panel__seller {
  width: 120px;
}

.panel__favourite {
  width: 100px;
}

.card__like {
  font-size: 24px;
  color: #ececec;
  cursor: pointer;
  transition: color 0.2s ease-in;
}

.card__like:hover {
  color: #ff7b7b;
}

.card__like--active {
  color: #dc0909;
}

.card__like--active:hover {
  color: #dc0909ce;
}
