.back-to-results {
  padding: 20px 0;
  text-align: center;
}

.back-to-results__btn {
  display: inline-block;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #333333;
  transition: color 0.5s;
}

.back-to-results__btn:hover {
  text-decoration: none;
}

.reservation-succeed-notice {
  padding: 40px;
  font-size: 18px;
  text-align: center;
}