$black-transparent: #000000ee;
$black-filter: #0000002b;
$white: #ffffff;
$dark: #333333;

$gray: #959595;
$gray-light: #cecece;
$gray-pale: #e6e6e6;
$gray-cold: #c6d3d6;
$gray-cold-transparent: #c6d3d64d;

$blue: #1c90e9;
$blue-transparent: #4683b480;

$yellow: #ffdd56;
$yellow-pale: #dfd6b1;

$red-strong: #9c0f0f;
$red-main: #e51414;
$red-main-darken: #dc0909;
$red-main-light: #cc5b5b;
$red-main-pale: #ff9898;
