@import "../../scss/variables";

.bid-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 4px 7px 35px $gray-cold-transparent;
  background-color: $white;
  text-align: center;
  color: $dark;
  font-size: 0.875rem;
  font-weight: 500;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;

  @media screen and (max-width: 575px) {
    font-size: 0.75rem;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 4px 7px 35px $gray-cold;
  }

  &__name {
    flex: 1 1 40%;
    padding: 0 20px;
    text-align: left;
  }

  &__phone {
    flex: 1 1 30%;
    padding: 0 20px;
    text-align: left;
  }
}
