.bid-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 73px;
  padding: 0 20px;
  margin-bottom: 10px;
  box-shadow: 4px 7px 35px rgba(198, 211, 214, 0.3);
  border-radius: 8px;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.bid-item:hover {
  transform: translateY(-3px);
  box-shadow: 4px 7px 35px #c6d3d6;
}

.bid-item__name {
  padding-left: 20px;
  width: 400px;
  text-align: left;
}

.bid-item__phone {
  margin-right: auto;
}
